| Column        | Description                                                      |
|---------------|------------------------------------------------------------------|
| timestamp     | Timestamp field for grouping the data                             |
| cnt           | The count of new bike shares                                     |
| t1            | Real temperature in Celsius                                      |
| t2            | Temperature in Celsius "feels like"                              |
| hum           | Humidity in percentage                                           |
| wind_speed    | Wind speed in km/h                                               |
| weather_code  | Category of the weather                                          |
| is_holiday    | Boolean field - 1 for holiday, 0 for non-holiday                  |
| is_weekend    | Boolean field - 1 if the day is a weekend, 0 if it's not          |
| season        | Category field for meteorological seasons:                       |
|               | 0 - Spring                                                       |
|               | 1 - Summer                                                       |
|               | 2 - Fall                                                         |
|               | 3 - Winter                                                       |

Weather Code Category Description:
1  - Clear; mostly clear but have some values with haze/fog/patches of fog/fog in vicinity
2  - Scattered clouds/few clouds
3  - Broken clouds
4  - Cloudy
7  - Rain/light Rain shower/Light rain
10 - Rain with thunderstorm
26 - Snowfall
94 - Freezing Fog

In [ ]:
!pip install openpyxl

In [1]:
import kaggle
import zipfile
import pandas as pd

In [10]:
#Get dataset
!kaggle datasets download -d hmavrodiev/london-bike-sharing-dataset -p ../Data_sets/

Downloading london-bike-sharing-dataset.zip to ../Data_sets

  0%|          | 0.00/165k [00:00<?, ?B/s]
100%|##########| 165k/165k [00:00<00:00, 760kB/s]
100%|##########| 165k/165k [00:00<00:00, 757kB/s]

In [13]:
file_dir = '../Data_sets/london-bike-sharing-dataset.zip'
with zipfile.ZipFile(file_dir, 'r') as file:
    file.extractall()

In [2]:
# read in the csv file as a pandas dataframe
bikes = pd.read_csv("london_merged.csv")
bikes.head()

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0

In [3]:
print(bikes.shape)
bikes.info()

(17414, 10)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17414 entries, 0 to 17413
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   timestamp     17414 non-null  object
 1   cnt           17414 non-null  int64
 2   t1            17414 non-null  float64
 3   t2            17414 non-null  float64
 4   hum           17414 non-null  float64
 5   wind_speed    17414 non-null  float64
 6   weather_code  17414 non-null  float64
 7   is_holiday    17414 non-null  float64
 8   is_weekend    17414 non-null  float64
 9   season        17414 non-null  float64
dtypes: float64(8), int64(1), object(1)
memory usage: 1.3+ MB

In [4]:
for column in bikes.columns:
    unique_values = bikes[column].value_counts()
    print(f"Column: {column}")
    print(unique_values)
    print()

Column: timestamp
2015-01-04 00:00:00    1
2016-05-04 12:00:00    1
2016-05-04 18:00:00    1
2016-05-04 17:00:00    1
2016-05-04 16:00:00    1
                      ..
2015-09-03 17:00:00    1
2015-09-03 18:00:00    1
2015-09-03 19:00:00    1
2015-09-03 20:00:00    1
2017-01-03 23:00:00    1
Name: timestamp, Length: 17414, dtype: int64

Column: cnt
46      46
53      39
33      36
70      36
120     36
        ..
3022     1
3112     1
1338     1
3270     1
2220     1
Name: cnt, Length: 3781, dtype: int64

Column: t1
 13.000000    969
 12.000000    822
 9.000000     807
 14.000000    802
 11.000000    779
             ...
 31.500000      3
 31.000000      3
 34.000000      2
-1.500000       1
 10.333333      1
Name: t1, Length: 73, dtype: int64

Column: t2
 13.000000    969
 12.000000    821
 14.000000    802
 11.000000    774
 16.000000    729
             ...
 33.000000      2
-5.500000       1
-5.000000       1
-6.000000       1
 10.333333      1
Name: t2, Length: 82, dtype: int64

Column: hum
88.00    965
82.00    928
77.00    774
87.00    710
76.00    513
        ...
25.50      1
88.50      1
72.75      1
23.00      1
98.00      1
Name: hum, Length: 143, dtype: int64

Column: wind_speed
12.000000    842
14.000000    832
11.000000    832
15.000000    828
13.000000    828
            ...
52.000000      1
54.000000      1
50.000000      1
36.500000      1
2.666667       1
Name: wind_speed, Length: 103, dtype: int64

Column: weather_code
1.0     6150
2.0     4034
3.0     3551
7.0     2141
4.0     1464
26.0      60
10.0      14
Name: weather_code, dtype: int64

Column: is_holiday
0.0    17030
1.0      384
Name: is_holiday, dtype: int64

Column: is_weekend
0.0    12444
1.0     4970
Name: is_weekend, dtype: int64

Column: season
0.0    4394
1.0    4387
3.0    4330
2.0    4303
Name: season, dtype: int64

In [5]:
new_cols_dict ={
    'timestamp':'time',
    'cnt':'count', 
    't1':'temp_real_C',
    't2':'temp_feels_like_C',
    'hum':'humidity_percent',
    'wind_speed':'wind_speed_kph',
    'weather_code':'weather',
    'is_holiday':'is_holiday',
    'is_weekend':'is_weekend',
    'season':'season'
}

season_dict = {
    '0.0': 'spring',
    '1.0': 'summer',
    '2.0': 'autumn',
    '3.0': 'winter'
}

weather_dict = {
    '1.0': 'Clear',
    '2.0': 'Scattered clouds',
    '3.0': 'Broken clouds',
    '4.0': 'Cloudy',
    '7.0': 'Rain',
    '10.0': 'Rain with thunderstorm',
    '26.0': 'Snowfall'
}

bikes.rename(new_cols_dict, axis=1, inplace=True)
bikes['season'] = bikes['season'].astype(str).map(season_dict)
bikes['weather'] = bikes['weather'].astype(str).map(weather_dict)
bikes['humidity_percent'] = bikes['humidity_percent'] / 100

In [6]:
bikes.head()

,time,count,temp_real_C,temp_feels_like_C,humidity_percent,wind_speed_kph,weather,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,0.930,6.0,Broken clouds,0.0,1.0,winter
1,2015-01-04 01:00:00,138,3.0,2.5,0.930,5.0,Clear,0.0,1.0,winter
2,2015-01-04 02:00:00,134,2.5,2.5,0.965,0.0,Clear,0.0,1.0,winter
3,2015-01-04 03:00:00,72,2.0,2.0,1.000,0.0,Clear,0.0,1.0,winter
4,2015-01-04 04:00:00,47,2.0,0.0,0.930,6.5,Clear,0.0,1.0,winter

In [10]:
bikes.to_excel('../Data_sets/london_bikes_final.xlsx', sheet_name='Data')